@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.content {
  color: orchid;
}

.user-name {
  color: rgb(250, 250, 250);
}

.user-image {
  height: 100px;
  border-radius: 50%;
}

.user-container {
  background-image: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  /*   background: orchid; */
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 16px;
  font-family: Poppins;
display: flex;
flex-direction: column;
  gap: 10px;
  max-width: 450px;
  transition: all 200ms;
  opacity: 0.8;
}

@media (min-width: 400px) {
  .user-container {
    display: flex;
  }
}

body {
  /*    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  display: grid;
  height: 100vh;
  place-items: center;
}

.user-time {
  color: white;
  margin-top: 1px;
}

.user-container:hover .user-image {
  border: 3px solid pink;
}

.user-container:hover {
  transform: scale(1.2);
  opacity: 1;
}
.bold{
    margin-top: 15px;
    font-weight: 800;
}
.anime{
    color: white;
}